<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{>header}}

<main style="margin-top: 151px">
    <h1> {{title}}</h1>
    <h1> {{tip}}</h1>
    <p></p>
</main>

{{>footer}}
</body>
</html>