<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main">
    {{>header}}
    <h1> {{title}}</h1>
    <h1> {{admin}}</h1>
    <img src="/img/mountain.jpg">
    <img src="/img/mountain.jpg">
    <img src="/img/mountain.jpg">

</div>
{{>footer}}
</body>
</html>