<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="icon" href="/img/lightning.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <form action="">
            <input placeholder="Location" type="text" name="address">
            <button>Search</button>
        </form>
        <p id="temp"></p>
        <p id="loc"></p>
        <p id='wind'></p>
    </div>
    {{>footer}}
    <script src="/js/dynamic.js"></script>
</body>

</html>