<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1> {{title}}</h1>
<h1> {{admin}}</h1>
<p></p>
<img src="/img/mountain.jpg">
</body>
</html>